.c-footer {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DFE6EB;
    border-right: none;
    box-sizing: border-box;
    padding: 0 32px;
}

.c-footer__message {
    font-size: 12px;
}

.c-footer__navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

.c-footer__navigation img {
    cursor: pointer;
    padding: 5px;
}

.c-footer__navigation img:hover,
.c-footer__navigation img:focus {
    background: #DFE6EB;
    border-radius: 50%;
}

.c-footer__counter {
    margin: 0 7px;
}
